.App {
  text-align: center;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/05/16/65/2559b53dd8f2f5b.jpg");
  background-size: contain;
  color: white; 
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}